h1{
    text-align: center;
}


.RPS{
    display:flex;
    justify-content: center;
    gap:100px;
}

#userBtn {
    background:none;
    border: none;
    outline:none;
    cursor:pointer;
    font-size:2rem;
    transition: 100ms;
}

#userBtn:hover{
    transform:scale(2,2)
}